body
{
  color:#fff;
  padding: 20px;
  font-family:"Roboto",verdana, sans-serif;
  background: #1f3e87;
}
.material-icons
{
text-decoration:none !important;
background-color:rgba(0, 0, 0, 0.5);
color:#fff;
}
.material-icons:hover
{
  color: #fff;
}


/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h3
{
padding-top: 20px;
padding-bottom:10px;
font-size: 1.5em;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 10px;
}
.mig
{
width:100%;
height: auto;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
